.header {

}

.logo {
	margin: 120px auto 0;
	text-align: center;
	font-size: 68px;
	line-height: 1.3;
	font-family: 'Open Sans', sans-serif;
	color: blue;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 800;

	@include bp (medium) {
		font-size: 78px;
	}
}

.sb-title {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	display: block;
	margin: 0 auto;
	transition: all 400ms;
	text-align: center;
	text-transform: none;
	
	&:hover {
		color: green;
		transform: translateX(29px);
	}

	@include bp (medium) {
		display: inline-block;
		position: relative;
		top: -1px;
		font-size: 20px;
	}
}


