* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  background: #ff5f69;
}

body {
}

.demo-grid {
	color: darken(#fbdee5,80%);
	margin-top: 20px;

	.column {

		background: lighten(#ff5f69, 10%);
	}
}