/************************
	   Layout;
************************/

$gutter: 20px;
$max-width: 1280px;


/************************
	   Screen Sizes
************************/

$sc-small: 480px;
$sc-smallish: 600px;
$sc-medium: 768px;
$sc-large: 1024px;