* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  background: $primaryColor;
  font-family: $primaryFont;
}

body {

  opacity: .5;
    box-sizing: border-box;
    transform: scale(.5);
    display: flex;
}

.demo-grid {
	color: #fff;;
	margin-top: 20px;

	.column {

	}
}
