* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  background: $bg-ch1;
}

body {
}

.demo-grid {
	color: #fff;;
	margin-top: 20px;

	.column {

	}
}