/************************
	   Layout;
************************/

$gutter: 15px;
$max-width: 1280px;


/************************
	   Screen Sizes
************************/

$sc-small: 375px;
$sc-medium: 768px;
$sc-large: 1024px;
$sc-big: 1280px;
$sc-bigger: 1440px;
$sc-huge: 1900px;



/************************
	   Color
************************/

$teal: #54c7d1;
$primaryColor: $teal;

/************************
     Fonts
************************/

$primaryFont: 'aktiv-grotesk', sans-serif;