/************************
	   Layout;
************************/

$gutter: 15px;
$max-width: 1280px;


/************************
	   Screen Sizes
************************/

$sc-small: 480px;
$sc-smallish: 600px;
$sc-medium: 768px;
$sc-large: 1024px;


/************************
	   Color
************************/

$teal: #54c7d1;


$bg-ch1: $teal;